<a href="https://colab.research.google.com/github/tthawatch/DPDM/blob/master/Data101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ตัวอย่างการเรียกใช้ packkage ที่ชื่อว่า pandas

In [2]:
import pandas

In [3]:
import pandas as pd

In [8]:
from google.colab import drive

In [14]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
import os

In [16]:
os.listdir('/content/drive/My Drive/DWDM_material')

['test.csv',
 'w_restaurant.csv',
 'Preprocessing02.html',
 'reduced_marketbasket.csv',
 'search_click.csv',
 'teach.csv',
 'teach02.csv',
 '03 สังคม.xls',
 'Copy of search_click (1).csv',
 'Copy of w_restaurant (1).csv',
 'metadata (1).xlsx']

In [17]:
pd.read_csv('/content/drive/My Drive/DWDM_material/test.csv')

     Unnamed: 0        x        y
0             0  55.3846  97.1795
1             1  51.5385  96.0256
2             2  46.1538  94.4872
3             3  42.8205  91.4103
4             4  40.7692  88.3333
..          ...      ...      ...
137         137  39.4872  25.3846
138         138  91.2821  41.5385
139         139  50.0000  95.7692
140         140  47.9487  95.0000
141         141  44.1026  92.6923

[142 rows x 3 columns]