<a href="https://colab.research.google.com/github/tthawatch/DPDM/blob/master/Final_Exam_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. จากข้อมูล (```w_restaurant.csv```, ```search_click.csv```, ```search_request.csv```) ใน http://qr.tebs.io/TTGDFf สร้าง model เพื่อทำนาย (Classification) ว่าผลการ search เป็นร้านอาหารหรือไม่(```is_food = = True```) โดยพิจารณาจาก 
- วันในสัปดาห์ที่ทำการ search (```Monday-Sunday```) 
- วันในที่ทำการ search (```1-31```)
- เวลาที่ทำการ search (```1-24```)

หมายเหตุที่ 1 สามารถใช้ function ที่ให้มาช่วยในการทำงานได้
1. ```extract_time()``` ซึ่ง input เป็น ```timestamp``` และ output เป็น ```เวลาที่ทำการ search```, ```วันที่ทำการ search```, ```วันในสัปดาห์ที่ทำการ search```

2. ```is_food()``` ซึ่ง input เป็น ```category_name``` และ ```output``` เป็น คำตอบว่า ```เป็นร้านอาหารหรือไม่```

หมายเหตุที่ 2 ควรเตรียมข้อมูลโดยรวมข้อมูลจาก ตาราง ```w_restaurant.csv```, ```search_click.csv```, ```search_request.csv``` ให้ได้ในรูปแบบ ต่อไปนี้
![exam_table.PNG]()

(150 คะแนน)

In [1]:
import datetime
def extract_time(datetime_s):
    EX_date = datetime.datetime.strptime(datetime_s, "%Y-%m-%d %H:%M:%S.%f")
    return EX_date.hour, EX_date.day, get_day(EX_date.weekday()) 

def get_day(D):
    weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
    return weekdays[D] 

def is_food(inp):
    food_list = ['Vegeterian','Sushi','Sukiyaki/Shabu','Street Food/Food Stands','Steak House/Barbeque','Southern Food','Seafood','Ramen','Quick Meal','Pizza','Northern Food','Noodles','Mexican','Korean',
             'Japanese','Italian','Izakaya','Healthy Food','German Food','Fusion Food','French','Food Truck','Fastfood','Dim Sum','Delivery Only','Chinese','Cafe','Café/Coffee Shop','Buffet',
             'Breakfast/Brunch','Bakery/Cake','Barbeque/Grill','American']
    return inp in food_list

2. จากข้อมูล (```reduced_marketbasket.csv```) ใน http://qr.tebs.io/TTGDFf ให้เปรียบเทียบ รูปแบบ การซื้อที่น่าสนใจเป็นราย Transaction ของประชากรใน ประเทศ ```United Kingdom``` กับ ประเทศอื่นๆ (```'Country'!='United Kingdom'```)

(40 คะแนน)

3. เขียนคำศัพท์ที่ได้เรียนในวิชาพร้อมทั้งคำนิยามที่เป็นคำพูดของนักศึกษาเอง (ห้าม search google) 20 คำ

(คำละ 0.5 คะแนน)

1.จากข้อมูล (w_restaurant.csv, search_click.csv, search_request.csv) ใน http://qr.tebs.io/TTGDFf สร้าง model เพื่อทำนาย (Classification) ว่าผลการ search เป็นร้านอาหารหรือไม่(is_food = = True) โดยพิจารณาจาก
วันในสัปดาห์ที่ทำการ search (Monday-Sunday)
วันในที่ทำการ search (1-31)
เวลาที่ทำการ search (1-24)

In [1]:
import pandas

In [2]:
import pandas as pd

In [3]:
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import os

In [6]:
base_path = '/content/drive/My Drive/DWDM_material'

In [7]:
os.listdir('/content/drive/My Drive/DWDM_material') #ดูชื่อไฟล์ในไดฟ์

['test.csv',
 'Preprocessing02.html',
 'teach.csv',
 'teach02.csv',
 '03 สังคม.xls',
 '52835793_259306464964511_3851804852342489088_n (1).png',
 'Copy of search_click (1).csv',
 'Copy of w_restaurant (1).csv',
 'metadata (1).xlsx',
 'a6b698d8efa85a3159c034c250c7a68e.jpg',
 '2-58 (1).pdf',
 'animal.csv',
 'Project2.xlsx',
 '2015-ogd1-2 (1).csv',
 'untitled-12 (2).xlsx',
 'Project1.gsheet',
 'Project1.xlsx',
 'project.xlsx',
 'Project3.xlsx',
 'search_request.csv',
 'w_restaurant.csv',
 'search_click.csv',
 'reduced_marketbasket.csv']

In [15]:
file_path_1 = os.path.join(base_path,'w_restaurant.csv')

In [16]:
Data_1=pd.read_csv(file_path_1)

In [19]:
Data_1 =[]

In [18]:
Data_table_1 = Data_1[['id','category_name']]
Data_table_1

            id         category_name
0            2           Orthodontic
1            4            Quick Meal
2            5   Historical/Religion
3            6               Karaoke
4            7      Café/Coffee Shop
...        ...                   ...
246842  340068                 Sushi
246843  340070               Karaoke
246844  340074  Steak House/Barbeque
246845  340079      Café/Coffee Shop
246846  340091               Noodles

[246847 rows x 2 columns]

In [20]:
Data_table_1.isnull()

           id  category_name
0       False          False
1       False          False
2       False          False
3       False          False
4       False          False
...       ...            ...
246842  False          False
246843  False          False
246844  False          False
246845  False          False
246846  False          False

[246847 rows x 2 columns]

In [21]:
Data_table_1.isnull().any()

id               False
category_name    False
dtype: bool

In [22]:
file_path_2 = os.path.join(base_path,'search_click.csv')

In [23]:
Data_2=pd.read_csv(file_path_2)

In [28]:
Data_2=[]

In [27]:
Data_table_2 = Data_2[['click_timestamp','search_id','business_id','ads']]
Data_table_2

                    click_timestamp  ...   ads
0        2018-06-15 05:11:38.914154  ...  True
1        2018-06-15 06:30:51.277476  ...  True
2        2018-06-15 06:32:09.558025  ...  True
3        2018-06-15 06:00:59.820390  ...  True
4        2018-06-15 05:23:36.828525  ...  True
...                             ...  ...   ...
7882032  2018-06-28 01:59:10.893735  ...  True
7882033  2018-06-28 01:59:11.085196  ...  True
7882034  2018-06-28 06:49:02.493141  ...  True
7882035  2018-06-28 06:36:02.865507  ...  True
7882036  2018-06-28 06:20:35.249050  ...  True

[7882037 rows x 4 columns]

In [40]:
Data_table_2.isnull()

         click_timestamp  search_id  business_id    ads
0                  False      False        False  False
1                  False      False        False  False
2                  False      False        False  False
3                  False      False        False  False
4                  False      False        False  False
...                  ...        ...          ...    ...
7882032            False      False        False  False
7882033            False      False        False  False
7882034            False      False        False  False
7882035            False      False        False  False
7882036            False      False        False  False

[7882037 rows x 4 columns]

In [32]:
Data_table_2.isnull().any()

click_timestamp    False
search_id           True
business_id         True
ads                False
dtype: bool

In [34]:
Data_table_2_nm =  Data_table_2.dropna()

In [37]:
Data_table_2_nm.isnull()
Data_table_2_nm.isnull().any()

click_timestamp    False
search_id          False
business_id        False
ads                False
dtype: bool

In [38]:
file_path_3 = os.path.join(base_path,'search_request.csv')

In [39]:
Data_3=pd.read_csv(file_path_3)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [47]:
Data_3 =[]

In [46]:
Data_table_3 = Data_3[['search_id','long','lat']]
Data_table_3

                                     search_id     long      lat
0         683de889-f923-494e-9d46-44a3d67b7259  101.463  12.6347
1         4a811230-ffa4-4631-a4c8-5d0394137d02  102.534  14.8009
2         7ad6ee8e-438e-4bea-9183-74dcef9e358e  100.371  13.7383
3         0c17a5f5-fa89-40f4-ae94-a8659268f827  101.861  12.6669
4         6870dc3a-5602-44fc-80ed-df0a7783df9d    99.88  12.2372
...                                        ...      ...      ...
10004352  5d8c10aa-63cf-4bdd-ab01-0af17a98781f      NaN      NaN
10004353  66cc94db-217a-4d8e-aa20-b1d10e17c968      NaN      NaN
10004354  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7      NaN      NaN
10004355  f5554532-2eb1-4ba6-a98e-1e10b2174d2c      NaN      NaN
10004356  48421ba4-8c69-46a5-aa05-425ddc82a09a      NaN      NaN

[10004357 rows x 3 columns]

In [90]:
 # หาค่าเฉลี่ยของ long และ let
# จากนั้น dropna() แทนค่าเฉลี่ยของทั้งสองข้อมูลลงไปตามลำดับ แล้วนำข้อมูลที่แก้ missing ไปรวมกับข้อมูลที่ต้องการเพื่อใช้พยากรณ์ต่อไป
#ควรทำข้างต้นผมขอตัดเลย

In [92]:
Data_table_3_nm=Data_table_3.dropna()

In [49]:
Data_table_1.shape

(246847, 2)

In [50]:
Data_table_2.shape

(7882037, 4)

In [51]:
Data_table_3.shape

(10004357, 3)

In [61]:
merged_table_1 = Data_table_2_nm.merge(Data_table_1,how='left',left_on='business_id',right_on='id') #how=กำหนดตารางหลัก left_on ข้อมูลที่ตรงกันสอดคล้องกันนำมารวมกัน
merged_table_1 #รวมตารางของชุดข้อมูล1และชุดข้อมูล2

                    click_timestamp  ... category_name
0        2018-06-15 05:11:38.914154  ...       Seafood
1        2018-06-15 06:30:51.277476  ...      Japanese
2        2018-06-15 06:32:09.558025  ...          Cafe
3        2018-06-15 06:00:59.820390  ...       Dim Sum
4        2018-06-15 05:23:36.828525  ...      Japanese
...                             ...  ...           ...
7880116  2018-06-28 01:59:10.893735  ...  Healthy Food
7880117  2018-06-28 01:59:11.085196  ...  Healthy Food
7880118  2018-06-28 06:49:02.493141  ...          Cafe
7880119  2018-06-28 06:36:02.865507  ...          Thai
7880120  2018-06-28 06:20:35.249050  ...    Vegeterian

[7880121 rows x 6 columns]

In [93]:
merged_table_2 = Data_table_3_nm.merge(merged_table_1,how='left',left_on='search_id',right_on='search_id') #how=กำหนดตารางหลัก left_on ข้อมูลที่ตรงกันสอดคล้องกันนำมารวมกัน
merged_table_2 #รวมตารางของชุดข้อมูล merged_table_1 และชุดข้อมูล3

                                    search_id     long  ...        id category_name
0        683de889-f923-494e-9d46-44a3d67b7259  101.463  ...       NaN           NaN
1        4a811230-ffa4-4631-a4c8-5d0394137d02  102.534  ...       NaN           NaN
2        7ad6ee8e-438e-4bea-9183-74dcef9e358e  100.371  ...       NaN           NaN
3        0c17a5f5-fa89-40f4-ae94-a8659268f827  101.861  ...       NaN           NaN
4        6870dc3a-5602-44fc-80ed-df0a7783df9d    99.88  ...       NaN           NaN
...                                       ...      ...  ...       ...           ...
8498561  07969762-9971-4170-98cc-c168966be4d8  100.911  ...  205259.0   Bakery/Cake
8498562  07969762-9971-4170-98cc-c168966be4d8  100.911  ...  205259.0   Bakery/Cake
8498563  07969762-9971-4170-98cc-c168966be4d8  100.911  ...  205259.0   Bakery/Cake
8498564  96bb951c-bb78-414c-8b0f-2cf5f4a9fc96  100.911  ...       NaN           NaN
8498565  acc69eff-09a9-4f97-9fd2-2568c16a5dd9  100.911  ...  153684.0    Quick Meal

[8498566 rows x 8 columns]

In [94]:
merged_table_2.isnull()
merged_table_2.isnull().any()

search_id          False
long               False
lat                False
click_timestamp     True
business_id         True
ads                 True
id                  True
category_name       True
dtype: bool

In [95]:
merged_table_2_nm = merged_table_2.dropna()

In [96]:
merged_table_2_nm.isnull()
merged_table_2_nm.isnull().any()

search_id          False
long               False
lat                False
click_timestamp    False
business_id        False
ads                False
id                 False
category_name      False
dtype: bool

In [97]:
merged_table_2_nm

                                    search_id  ...            category_name
6        3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...                     Thai
7        a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...                  Chinese
8        a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...                  Noodles
9        02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...                  Vietnam
10       e215d487-0450-4794-830a-ecfc0ab6493b  ...         Café/Coffee Shop
...                                       ...  ...                      ...
8498560  07969762-9971-4170-98cc-c168966be4d8  ...  Street Food/Food Stands
8498561  07969762-9971-4170-98cc-c168966be4d8  ...              Bakery/Cake
8498562  07969762-9971-4170-98cc-c168966be4d8  ...              Bakery/Cake
8498563  07969762-9971-4170-98cc-c168966be4d8  ...              Bakery/Cake
8498565  acc69eff-09a9-4f97-9fd2-2568c16a5dd9  ...               Quick Meal

[2549987 rows x 8 columns]

In [ ]:
#เมื่อได้ตารางข้อมูลที่ไม่มี missing แล้ว จากนั้นวิเคราห์โค้ดที่ให้มาว่าจะเป็นร้านอาหารเมื่อไหร่
# นำไปวิเคราะห์การพยากรณ์ด้วย (Classification) ด้วยวิธี knn

In [82]:
import datetime
def extract_time(datetime_s):
    EX_date = datetime.datetime.strptime(datetime_s, "%Y-%m-%d %H:%M:%S.%f")
    return EX_date.hour, EX_date.day, get_day(EX_date.weekday()) 

def get_day(D):
    weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
    return weekdays[D] 

def is_food(inp):
    food_list = ['Vegeterian','Sushi','Sukiyaki/Shabu','Street Food/Food Stands','Steak House/Barbeque','Southern Food','Seafood','Ramen','Quick Meal','Pizza','Northern Food','Noodles','Mexican','Korean',
             'Japanese','Italian','Izakaya','Healthy Food','German Food','Fusion Food','French','Food Truck','Fastfood','Dim Sum','Delivery Only','Chinese','Cafe','Café/Coffee Shop','Buffet',
             'Breakfast/Brunch','Bakery/Cake','Barbeque/Grill','American']
    return inp in food_list

In [ ]:
# วิเคราะห์ X_train Y_train X_test Y_test จากนั้นทำ kkn ตามด้านล่าง

#K-nearest neighbors ¶¶¶

##-Import

##-Define

##-Train (fit)

##-Test

##-Evaluate

In [ ]:
#วิเคราะห์  Train (fit) ที่ดีที่สุดจากนั้นเลือกมา Test

##จากข้อมูล (reduced_marketbasket.csv) ใน http://qr.tebs.io/TTGDFf ให้เปรียบเทียบ รูปแบบ การซื้อที่น่าสนใจเป็นราย Transaction ของประชากรใน ประเทศ United Kingdom กับ ประเทศอื่นๆ ('Country'!='United Kingdom')
(40 คะแนน)

In [63]:
path = '/content/drive/My Drive/DWDM_material'

In [64]:
data = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin1')
data

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [65]:
data.groupby('Country').sum().sort_values('Quantity') #รวมกลุ่มของ Country และเรียงผลรวมของ Qountry

                      Quantity     UnitPrice    CustomerID
Country
Saudi Arabia                75  2.411000e+01  1.256500e+05
Bahrain                    260  8.657000e+01  2.100270e+05
RSA                        352  2.481000e+02  7.218680e+05
Brazil                     356  1.426000e+02  4.086080e+05
Lebanon                    386  2.424400e+02  5.743800e+05
European Community         497  2.940500e+02  9.215880e+05
Czech Republic             592  8.815000e+01  3.834300e+05
Lithuania                  652  9.944000e+01  5.366200e+05
Malta                      944  6.660100e+02  2.158496e+06
United Arab Emirates       982  2.298900e+02  1.018952e+06
USA                       1034  6.449800e+02  3.672086e+06
Greece                    1556  7.132900e+02  2.008584e+06
Iceland                   2458  4.812100e+02  2.247154e+06
Canada                    2763  9.105800e+02  2.615483e+06
Unspecified               3300  1.204010e+03  3.348046e+06
Poland                    3653  1.422270e+03  4.341972e+06
Israel                    4353  1.079040e+03  3.164467e+06
Hong Kong                 4769  1.224150e+04  0.000000e+00
Austria                   4827  1.701520e+03  5.021102e+06
Singapore                 5234  2.510889e+04  2.918376e+06
Cyprus                    6317  3.920070e+03  7.715880e+06
Italy                     7999  3.879390e+03  1.015666e+07
Denmark                   8188  1.266950e+03  4.876734e+06
Channel Islands           9479  3.738550e+03  1.128522e+07
Finland                  10666  3.786850e+03  8.699324e+06
Portugal                 16180  1.303754e+04  1.886480e+07
Norway                   19247  6.529060e+03  1.350765e+07
Belgium                  23152  7.540130e+03  2.571829e+07
Japan                    25218  8.148600e+02  4.567292e+06
Spain                    26824  1.263345e+04  3.268929e+07
Switzerland              30325  6.813690e+03  2.377592e+07
Sweden                   35637  1.806830e+03  6.790083e+06
Australia                83653  4.054750e+03  1.569300e+07
France                  110480  4.303199e+04  1.076489e+08
Germany                 117448  3.766600e+04  1.200751e+08
EIRE                    142637  4.844719e+04  1.103917e+08
Netherlands             200128  6.492550e+03  3.419054e+07
United Kingdom         4263829  2.245715e+06  5.626433e+09

In [66]:
!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=95970406836e957b6b059fe588fd4660b4411e6c23902eeaa821fea030d7ef51
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [67]:
from apyori import apriori #ตอนแรกจะไม่มีโค้ดนี้ให้ install

In [74]:
transacs = data.groupby('InvoiceNo')['StockCode'].apply(list)
transacs

InvoiceNo
536365     [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
536366                                        [22633, 22632]
536367     [84879, 22745, 22748, 22749, 22310, 84969, 226...
536368                          [22960, 22913, 22912, 22914]
536369                                               [21756]
                                 ...
C581484                                              [23843]
C581490                                       [22178, 23144]
C581499                                                  [M]
C581568                                              [21258]
C581569                                       [84978, 20979]
Name: StockCode, Length: 25900, dtype: object

In [71]:
out = list(apriori(transacs, min_support = 0.03, min_confidence = 0.1))# Data,

In [76]:
transacs = data.groupby('CustomerID')['StockCode'].apply(list)
transacs

CustomerID
12346.0                                       [23166, 23166]
12347.0    [85116, 22375, 71477, 22492, 22771, 22772, 227...
12348.0    [84992, 22951, 84991, 84991, 21213, 21213, 226...
12349.0    [23112, 23460, 21564, 21411, 21563, 22131, 221...
12350.0    [21908, 22412, 79066K, 79191C, 22348, 84086C, ...
                                 ...
18280.0    [82484, 22180, 22467, 22725, 22727, 22495, 223...
18281.0    [22037, 22716, 22028, 23007, 23008, 23209, 22467]
18282.0    [21270, 23187, 23295, 22089, 21108, 21109, 224...
18283.0    [22356, 20726, 22384, 22386, 20717, 20718, 850...
18287.0    [22755, 22754, 22753, 22756, 22758, 22757, 227...
Name: StockCode, Length: 4372, dtype: object

In [77]:
list(apriori(transacs, min_support = 0.07, min_confidence = 0.7))

[RelationRecord(items=frozenset({'21733', '85123A'}), support=0.07136322049405307, ordered_statistics=[OrderedStatistic(items_base=frozenset({'21733'}), items_add=frozenset({'85123A'}), confidence=0.8103896103896104, lift=4.129397874852421)]),
 RelationRecord(items=frozenset({'22423', '22699'}), support=0.07410795974382434, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22423'}), confidence=0.7587822014051523, lift=3.740017795426523)]),
 RelationRecord(items=frozenset({'22697', '22699'}), support=0.07410795974382434, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.8307692307692307, lift=8.506143037290578), OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7587822014051523, lift=8.506143037290578)])]

In [ ]:
# หาแบบเดิม แต่ใช้ข้อมูลแค่ ประเทศ United Kingdom จากนั้นนำมาเปรียบเทียบกัน

#3. เขียนคำศัพท์ที่ได้เรียนในวิชาพร้อมทั้งคำนิยามที่เป็นคำพูดของนักศึกษาเอง (ห้าม search google) 20 คำ
(คำละ 0.5 คะแนน)
ตอบ 
1. query คือ การสืบค้นข้อมูลจากข้อมูลที่มีอยู่
2. 1 เทระไบต์ = 1,024 กิกะไบต์
3. Text databases ข้อความที่ถูกอธิบายยาวๆ
4. Internet of Things (IoT) คือ อุปกรณ์อิเล็กทรอนิกส์ต่างๆที่สามารถส่งผ่านข้อมูลถึงกันโดยผ่านเครือข่ายอินเทอร์เน็ต โดยไม่ต้องป้อนข้อมูลใดๆ และสามารถควบคุมได้ผ่านอุปกรณ์อิเล็กทรอนิคส์ต่างๆ
5. ผู้ดูแลระบบฐานข้อมูล (DBA - Databases Admin ) คือ เป็นผู้ดูแลบำรุงรักษา และแซ่มแซมประสิทธิภาพของฐานข้อมูล ให้มีความถูกต้องมากที่สุด
6.  Data Warehouse คือ ที่เก็บรวบรวมข้อมูลแสดงข้อมูลในมุมต่างๆ
7. Data Mining คือ การทำเหมืองข้อมูลขนาดใหญ่ เป็นกระบวนการที่กระทํากับข้อมูลจํานวนมากเพื่อค้นหารูปแบบและความสัมพันธ์ ที่ซ่อนอยู่ในชุดข้อมูลนั้นๆ
8. data is a new oil คือ เป็นการเปรียบเทียบว่าข้อมูลเป็นทรัพยากรณ์ที่มีค่าเทียบเท่ากับน้ำมัน
9. relational records เป็นการใช้ Index หรือ ID ใช้เชื่อมข้อมูลจากตารางหนึ่งไปยังอีกตารางหนึ่ง เช่น เลขบัตรประชาชน รหัสนักศึกษา
10. data matrix,e.g,crosstabs เป็นการเก็บข้อมูลที่หัวข้อ 2 ฝั่ง
11. transaction data เป็นการเก็บข้อมูลที่ไม่มีหัวข้อ
12. document data : Term-frequency vector (matrix) of text documents เป็นการเก็บข้อมูลที่มี attributes ด้านบน และตัวบอกตัวตน้านข้าง
13. Dimensionality เป็นการเชื่อมต่อกันแต่ละมิติ
14. Sparsity จุดที่ม่มีข้อมูลจะเป็นช่องว่าง
15. Resolution เป็นเรื่องเกี่ยวกับรายละเอียดภาพที่ต้องปรับสเกลให้เท่ากัน
16. Distribution อธิบายข้อมูลค่ากลางและค่าารกระจาย
17. Nominal Attributes ให้ชื่อแทนข้อมูล ไม่มีความหมายทางคณิตศาสตร์
18. Binary Attributes ข้อมูลที่มี 2 ค่าเท่านั้น (0,1) 2.1 ข้อมูลสมมาตร 2.2 ข้อมูลไม่สมมาตร
19. Ordinal Attributes ข้อมูลเรียงลำดับได้ (เล็ก กลาง ใหญ่)
20. NumericAttributes ข้อมูลที่เป็นตัวเลข 4.1 Interval ไม่มีศูนย์แท้ เป็นค่าที่นิยามขึ้น 4.2 ratio มีศูนย์แท้ 4.3 Discrete ไม่ต่อเนื่อง 4.4 Continous ต่อเนื่อง