<a href="https://colab.research.google.com/github/tthawatch/DPDM/blob/master/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [159]:
import pandas

In [160]:
import pandas as pd

In [161]:
from google.colab import drive

In [162]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [163]:
import os

In [164]:
base_path = '/content/drive/My Drive/DWDM_material'

In [165]:
os.listdir('/content/drive/My Drive/DWDM_material')

['test.csv',
 'Preprocessing02.html',
 'reduced_marketbasket.csv',
 'search_click.csv',
 'teach.csv',
 'teach02.csv',
 'w_restaurant.csv',
 '03 สังคม.xls',
 '52835793_259306464964511_3851804852342489088_n (1).png',
 'Copy of search_click (1).csv',
 'Copy of w_restaurant (1).csv',
 'metadata (1).xlsx',
 'a6b698d8efa85a3159c034c250c7a68e.jpg',
 '2015-ogd1-2 (1).csv',
 '2-58 (1).pdf',
 'animal.csv',
 'untitled-12 (2).xlsx',
 'Project1.xlsx',
 'Project2.xlsx',
 'Project3.xlsx']

In [166]:
file_path_1 = os.path.join(base_path,'Project1.xlsx')

In [167]:
Data_1=pd.read_excel(file_path_1)

In [168]:
Data_1

             province  ...   เกษตรกรผู้เลี้ยงสัตว์ปีกอื่นๆ(ครัวเรือน)
0      กรุงเทพมหานคร   ...                                          26
1            นนทบุรี   ...                                         214
2           ปทุมธานี   ...                                           1
3    พระนครศรีอยุธยา   ...                                        1194
4            อ่างทอง   ...                                         463
..                ...  ...                                         ...
72             สงขลา   ...                                         588
73              สตูล   ...                                         100
74           ปัตตานี   ...                                         275
75              ยะลา   ...                                        2662
76          นราธิวาส   ...                                         162

[77 rows x 105 columns]

In [169]:
file_path_2 = os.path.join(base_path,'Project2.xlsx')

In [170]:
Data_2=pd.read_excel(file_path_2)

In [171]:
Data_2

           province  ...  ผลผลิตเก็บเกี่ยวต่อไร่(กก.)
0          เชียงราย  ...                          662
1             พะเยา  ...                          679
2             ลำปาง  ...                          662
3             ลำพูน  ...                          675
4         เชียงใหม่  ...                          652
5        แม่ฮ่องสอน  ...                          559
6               ตาก  ...                          646
7         กำแพงเพชร  ...                          709
8           สุโขทัย  ...                          605
9              แพร่  ...                          603
10             น่าน  ...                          588
11        อุตรดิตถ์  ...                          583
12         พิษณุโลก  ...                          651
13           พิจิตร  ...                          659
14        นครสวรรค์  ...                          672
15        อุทัยธานี  ...                          827
16        เพชรบูรณ์  ...                          649
17              เลย  ...                          638
18      หนองบัวลำภู  ...                          632
19         อุดรธานี  ...                          583
20          หนองคาย  ...                          696
21      อุบลราชธานี  ...                          749
22         ศรีสะเกษ  ...                          768
23        กาฬสินธุ์  ...                          650
24          ขอนแก่น  ...                          624
25          ชัยภูมิ  ...                          542
26       นครราชสีมา  ...                          665
27          สระบุรี  ...                          754
28           ลพบุรี  ...                          570
29           ชัยนาท  ...                          613
30       สุพรรณบุรี  ...                          718
31       ปราจีนบุรี  ...                          655
32       ฉะเชิงเทรา  ...                          662
33          สระแก้ว  ...                          653
34         จันทบุรี  ...                          560
35           ชลบุรี  ...                          625
36        กาญจนบุรี  ...                          678
37          ราชบุรี  ...                          611
38         เพชรบุรี  ...                          531
39  ประจวบคีรีขันธ์  ...                          626

[40 rows x 6 columns]

In [172]:
file_path_3 = os.path.join(base_path,'Project3.xlsx')

In [173]:
Data_3=pd.read_excel(file_path_3 )

In [174]:
Data_3

      province             ภูมิภาค
0   อำนาจเจริญ  ตะวันออกเฉียงเหนือ
1       บึงกาฬ  ตะวันออกเฉียงเหนือ
2    บุรีรัมย์  ตะวันออกเฉียงเหนือ
3      ชัยภูมิ  ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์  ตะวันออกเฉียงเหนือ
..         ...                 ...
72       พังงา                 ใต้
73      ภูเก็ต                 ใต้
74       ระนอง                 ใต้
75        สตูล                 ใต้
76        ตรัง                 ใต้

[77 rows x 2 columns]

In [175]:
Data_1.shape

(77, 105)

In [176]:
Data_2.shape

(40, 6)

In [177]:
Data_3.shape

(77, 2)